@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.menu-item {
  @apply w-full flex items-center gap-2 px-3 py-2 text-sm text-[#1e1b4b] hover:bg-[#ede9fe] transition;
}


